{% extends "layout_pre.html" %}

<!-- main _______________________________________________________________-->
{% block content %}

<!-- form ____________________________________________________________ -->
<div class="container_form">

<div class="row ">
    <h1>* SIGN UP *</h1>
</div>

<!--{% if error %}-->
<div class="row ">
  <p class="error">{{ error }}</p>
</div>
<!--{% endif %}-->

<div class="row ">
  <p class="ok">{{ totok }}</p>
</div>

<form action="nou_user" method="post" >
    <div class="row">
      <div class="col-20">
        <label>Usuari: </label>
      </div>
      <div class="col-75">
        <input type="text" name="user">
      </div>
    </div>

    <div class="row_small">
      <small>* Només abc, no espais, dígits, símbols ni accents</small>
    </div>

    <div class="row">
      <div class="col-20">
        <label>Password: </label>
      </div>
      <div class="col-75">
        <input type="password" name="pass">
      </div>
    </div>
    <div class="row_small">
      <small>* Mínim 1 ABC, 1 abc, 1 Num, 1 Esp @$!%*#?&, Mida 8</small>
    </div>

    <div class="row">
        <div class="col-20">
          <label>Repeteix: </label>
        </div>
        <div class="col-75">
          <input type="password" name="rpass">
        </div>
      </div>

    <div class="row ">
      <div class="col-20"></div>
      <div class="col-75">
        <input type="submit" name='envia' value='Go !'>
      </div>
    </div>
    
  </form>
  <!-- fi container form _____________________________________________________ -->
</div>

{% endblock %}
<!-- fi main ____________________________________________________-->
